# 杂项
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/


# flutter 相关的文件
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
./pubspec.lock
generated_plugin_registrant.*

# 符号相关
app.*.symbols

# 混淆相关
app.*.map.json

# Android Studio将在这里放置构建工件
/android/app/debug
/android/app/profile
/android/app/release
